[Unit]
Description=Tiny RAMDisk Persistence for USER (ramfs)

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/tiny-ramdisk-ramfs-startup-USER.sh
ExecStop=/usr/bin/tiny-ramdisk-ramfs-shutdown-USER.sh

[Install]
WantedBy=default.target
