<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Petr Stepanov</vendor>
  <vendor_url>https://github.com/petrstepanov/tiny-ramdisk</vendor_url>

  <action id="com.%USER%.tiny-ramdisk.mount">
    <description>Tiny RAMDisk</description>
    <message>Authentication is required to mount RAMDisk with execute privilege</message>
    <icon_name>com.petrstepanov.TinyRAMDisk</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/mount</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">-o</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">exec</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv3">/home/%USER%/RAMDisk</annotate>
  </action>

  <action id="com.%USER%.tiny-ramdisk.chown-user">
    <description>Tiny RAMDisk</description>
    <message>Authentication is required to change RAMDisk files ownership</message>
    <icon_name>com.petrstepanov.TinyRAMDisk</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/chown</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">%USER%:%USER%</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">/home/%USER%/RAMDisk/</annotate>
  </action>

  <action id="com.%USER%.tiny-ramdisk.chown-root">
    <description>Tiny RAMDisk</description>
    <message>Authentication is required to chown RAMDisk to super user</message>
    <icon_name>com.petrstepanov.TinyRAMDisk</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/chown</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">root:root</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">/home/%USER%/RAMDisk</annotate>
  </action>

  <action id="com.%USER%.tiny-ramdisk.umount">
    <description>Tiny RAMDisk</description>
    <message>Authentication is required to unmount RAMDisk as super user</message>
    <icon_name>com.petrstepanov.TinyRAMDisk</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/umount</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">--lazy</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">/home/%USER%/RAMDisk</annotate>
  </action>

  <action id="com.%USER%.tiny-ramdisk.rm">
    <description>Tiny RAMDisk</description>
    <message>Authentication is required to delete RAMDisk folder</message>
    <icon_name>com.petrstepanov.TinyRAMDisk</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/rm</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">-rf</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">/home/%USER%/RAMDisk</annotate>
  </action>

</policyconfig>
