[Unit]
Description=Tiny RAMDisk
After=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/tiny-ramdisk-startup.sh
ExecStop=%h/.local/bin/tiny-ramdisk-shutdown.sh
# ExecStartPre=/usr/bin/sleep 5

[Install]
WantedBy=graphical-session.target
