[Unit]
Description=Tiny RAMDisk

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=%h/.local/bin/tiny-ramdisk-ramfs-startup.sh
ExecStop=%h/.local/bin/tiny-ramdisk-ramfs-shutdown.sh

[Install]
WantedBy=default.target
