[Unit]
Description=Tiny RAMDisk Persistence for %I (ramfs)

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/tiny-ramdisk-ramfs-startup-%i.sh
ExecStop=/usr/local/bin/tiny-ramdisk-ramfs-shutdown-%i.sh

[Install]
WantedBy=default.target
